[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clinicalfair"]
	path = clinicalfair
	url = https://github.com/cuiweig/clinicalfair
[submodule "lineagefreq"]
	path = lineagefreq
	url = https://github.com/cuiweig/lineagefreq
[submodule "survinger"]
	path = survinger
	url = https://github.com/cuiweig/survinger
[submodule "syntheticdata"]
	path = syntheticdata
	url = https://github.com/cuiweig/syntheticdata
